
mark {
  background-color: teal;
  color: whitesmoke;
}

body {
    /* Visual */
    /* background-image: image(.\assets\gtpfbg.png); */
    background-color: rgb(13, 0, 128));
  }

 h1 {
   font-weight: bold;
   color: #6fc7b8;
   text-align: left;
 }
