
mark {
  background-color: teal;
  color: whitesmoke;
}

body {
    /* Visual */
    background-color: darkslategray;
  }

 h1 {
   font-weight: bold;
 }

.container {
  background-color: white;
  padding: 10px;
}
